*{
    margin: 0px;
    padding: 0px;
}
main{
    width: 100%;
    height: 700px;
    background-color: gray;
}
footer{
    width: 100%;
    height: 220px;
    background-color: #1A1A1A;
}
#wrapper{
    width: 100%;
    height: 170px;
    display: flex;
}


#left {
    width: 70%;
    height: 170px;
    padding: 10px;
}
nav .global-footer{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.global-footer-list{
    width: 25%;
    height: 100%;
}
.global-footer-sublist{
    list-style: none;
}

.global-footer-sublist__item{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #909090;
}
.h_01 a{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
}
.h_01 a:hover{
    text-decoration:underline;
    font-size: 15px;
}
#reight{
    width: 30%;
    height: 100px;
    padding: 10px;
    gap:5px;
}
#reight hr{
    width: 95%;
}
.icon-footer_item{
    width: 100%;
    height: 50%;
    gap:10px ;
}
.icon-footer_item a{
    text-decoration: none;
}
.icon-footer{
    color: #909090;
    font-size: 20px;
}
.icon-mail{
    color: aliceblue;
    font-size: 15px;
}
#footer__buttion{
    width: 100%;
    height: auto;
    display: flex;
}
.item-footer__01{
    width: 25%;
}
.item-footer__01 .copyright{
    color: #fff;
    margin: 3px 5px 10px;
}
.item-footer__02{
    width: 73%;
}
.item-footer__02>ul{
    list-style: none;
    display: flex;
    gap:20px;
    justify-content:right;
}
.item-footer__02 .item-footer-p__001 a{
    text-decoration: none;
    color: #ffffff;
}
.item-footer__02 .item-footer-p__001 a:hover{
    text-decoration: underline;
}
.c_001{
    gap:15px;
    display: flex;
    align-items: end;
}





